*{
    box-sizing: border-box;
}

section {
    color: azure;
}
body, 
html {
  height: 100%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 30px;
}